@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  /* slider nav style */
  .custom-prev,
.custom-next {
    font-size: 1.2rem; /* Size of the arrow */
    color: #333; /* Arrow color */
    width: 30px; /* Button width */
    height: 30px; /* Button height */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s;
}

.custom-prev:hover,
.custom-next:hover {
    background-color: #555; /* Hover background color */
    color: white; /* Hover arrow color */
}

.custom-prev {
    left: 10px; /* Positioning for left button */
}

.custom-next {
    right: 10px; /* Positioning for right button */
}

  
